@charset 'utf-8';

@import './bootstrap/index';
@import './components/header';

// body {
//     font-family: $font-main, sans-serif;
// }

// $font-path: "../fonts";

// @font-face {
//     font-family: Lato;
//     src: url('#{$font-path}/lato-bold-webfont.eot');
//     src: url('#{$font-path}/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
//          url('#{$font-path}/lato-bold-webfont.woff2') format('woff2'),
//          url('#{$font-path}/lato-bold-webfont.woff') format('woff');
//     font-weight: 700;
//     font-style: normal;

// }

// @font-face {
//     font-family: Lato;
//     src: url('#{$font-path}/lato-regular-webfont.eot');
//     src: url('#{$font-path}/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
//          url('#{$font-path}/lato-regular-webfont.woff2') format('woff2'),
//          url('#{$font-path}/lato-regular-webfont.woff') format('woff');
//     font-weight: 400;
//     font-style: normal;
// }