.header{
    .left{
            display: flex;
    justify-content: space-between;
    padding: 1rem 4rem;
    }

    .close {
position: absolute;
right: 0px;
top: 0px;
width: 32px;
height: 32px;
opacity: 0.3;
}
.close:hover {
opacity: 1;
}
.close:before, .close:after {
position: absolute;
left: 15px;
content: ' ';
height: 33px;
width: 2px;
background-color: #333;
}
.close:before {
transform: rotate(45deg);
}
.close:after {
transform: rotate(-45deg);
}

    .center{
            margin-top: 3rem;
        display: flex;
    justify-content: space-between;
    }
    .card{
        border: 1px solid red;
        width: 200px;
        height: 200px;

        &:hover{
            background-color: red;
        }
    }

   
}