<div class="header">
	<div class="left">
		<form class="form" id="MyForm" action="/" name="form">
			<p><input type="text" name="name" required></p>
			<p><input type="url" name="photo" required></p>
			
			<button type="submit">Сохранить</button>
		</form>
		<form class="form" id="MyForm2" action="/" name="form" style="display: none">
			<p><input type="text" name="name" required></p>
			<p><input type="url" name="photo" required></p>
			
			<button type="submit">Сохранить</button>
		</form>
	</div>
	<div class="right">
		
	</div>
	<div class="center">
		<div class="card">
			1
			<input type="button" class="close" />
		</div>
		<div class="card">
			2
			<input type="button" class="close" />
		</div>
		<div class="card" style="background-image: url(/assets/img/samokat.jpg)">
			3
			<input type="button" class="close" />
		</div>
		
	</div>
</div>
<script>
	
	var forEach = Array.prototype.forEach;

	var krestiks = document.getElementsByClassName('close');
	

	forEach.call(krestiks, function(button) {
		
		button.addEventListener('click', function (probnik){
			var close = probnik.target;
			var card = close.parentNode;
			card.remove();
		});	
	});


	var form = document.getElementsByClassName('form')[0];
	form.addEventListener('submit', function(event){
		event.preventDefault();
		var div = document.createElement("div");
		div.setAttribute('class','card')


		

		var descriptionNode = form.querySelector('[name=\'name\']');
		console.log(descriptionNode);
		var description = form.querySelector('[name=\'photo\']');
		console.log(description);

		// текст карточки
		var value = descriptionNode.value;
		console.log(value);

		// ссылка на картинку
		var value2 = description.value;
		console.log(value2);

		div.innerHTML = value + '<input type="button" class="close" />';
		div.style.backgroundImage = 'url(' + value2 + ')';
		console.log(div);

		var div2 = document.querySelector('.center');
		div2.appendChild(div);

		var krestiks = document.getElementsByClassName('close');
		

		forEach.call(krestiks, function(button) {
			
			button.addEventListener('click', function (probnik){
				var close = probnik.target;
				var card = close.parentNode;
				card.remove();
			});	
		});	

	});
	
		var block = document.getElementsByClassName('card');
			console.log(block);
		forEach.call(block, function(hover){
			hover.addEventListener('click', function (probnik){
				var form = document.getElementById('MyForm2');
				form.style.display = 'block';
				
			
			});
		});




</script>