<!doctype html>
<html class="no-js" lang="en" style="font-size: 16px;">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
  <body> 


    {{> body}}
    
   
    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>